

/*create variable global: colours*/
$color-main:#8261ee;
$color-highlight:#ff589e;
$color-text-1:#1e1e1e;
$color-text-2:#777;
$font: 'Raleway', sans-serif;
$bg-1:#F2F2FE;
/*End create variable global: colours*/