@charset "UTF-8";
/*create variable global: colours*/
/*End create variable global: colours*/
/* Box header */
.header {
  /*luôn luôn cố định 1 chỗ*/
  position: fixed;
  /*khi để fixed thì width:auto(co nhỏ lại) nên cần phải chỉnh width */
  width: 100%;
  /*canh ra được full width theo viewport*/
  top: 30px;
  /*This property sets the distance from the top of the viewport to the top edge of the header.*/
  z-index: 999;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.header__wrap {
  background-color: rgb(210, 208, 208);
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 45px;
}
.header__logo img {
  width: auto;
  height: 30px;
}
.header__menu ul {
  /*vì  tag ul có sẵn padding và margin nên css nó về 0 trước*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.header__menu li {
  margin-left: 30px;
}
.header__menu a {
  color: #1e1e1e;
  font-weight: 500;
  font-size: 14px;
}
.header__menu a:hover {
  color: #ff589e;
}
.header__icon_menu {
  display: none;
}
@media (max-width: 991.98px) {
  .header__menu {
    display: none;
  }
  .header__icon_menu {
    display: inline-block;
    font-size: 24px;
  }
}

/* Box header */
/* Banner hero */
.banner-hero {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*cover: ensures that the background image covers the entire container while maintaining its aspect ratio.*/
  background-position: center center;
  /*meaning the image will be centered both horizontally and vertically*/
  height: 100vh;
  /* Chiều cao của container sẽ bằng chiều cao của cửa sổ trình duyệt(viewport height): cái ảnh nền full */
  display: flex;
  /*2 dòng này căn giữa content section 1(lạ hé)*/
  align-items: center;
}
.banner-hero__main {
  max-width: 600px;
  margin: 0 auto;
  /*canh giữa so với box cha là box container*/
  text-align: center;
}
.banner-hero__title {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
}
.banner-hero__desc {
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .banner-hero__title {
    font-size: 24px;
  }
}

/* End Banner hero */
/* box highlight */
.box-highlight {
  margin-top: -200px;
  /*thò lên trên*/
}
.box-highlight__box {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 30px;
}
.box-highlight__icon {
  background-color: #8261ee;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 30px auto;
  display: inline-flex;
  /*img canh giữa inner_icon*/
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: all 0.4s;
}
.box-highlight__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*lun lun vừa khung*/
}
.box-highlight__box:hover .box-highlight__icon {
  background-color: #ff589e;
}
.box-highlight__title {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 15px;
}
.box-highlight__desc {
  font-size: 13px;
  color: #777;
}
@media (max-width: 991.98px) {
  .box-highlight { /*& đại diện selector parent*/
    margin-top: 0;
  }
}

/* End box highlight*/
/* Section 3 */
.banner-text {
  padding: 80px 0;
}
.banner-text__image {
  padding: 0 15%;
  /*tự co giãn content để padding, box cha sẽ kg thay đổi mà content thay đổi*/
}
.banner-text__image img {
  max-width: 100%;
  height: auto;
}
.banner-text__image--right {
  text-align: right;
}
.banner-text__title {
  font-size: 24px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 30px;
}
.banner-text__desc {
  color: #777;
}
@media (max-width: 991.98px) {
  .banner-text__image {
    margin: 15px 0;
    padding: 0;
    text-align: center;
  }
  .banner-text__image--right {
    text-align: center;
  }
  .banner-text__content {
    margin: 15px 0;
    text-align: center;
  }
}

/* End Section 3 */
/* Section 4 */
.work-process {
  background-image: url(../img/work-process-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  /*tự co giãn content(chỉ có width), còn height giữ nguyên + thêm 100px*/
}
.work-process__box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  /*dổ bóng to to sau, so sánh box cha cũng chính là relative*/
  margin-bottom: 30px;
}
.work-process__box::before {
  /*dổ bóng to to sau*/
  content: "";
  display: block;
  width: 100%;
  /*so sánh box cha(.inner_box)*/
  height: 100%;
  /*so sánh box cha(.inner_box)*/
  background-color: rgba(255, 255, 255, 0.2588235294);
  /*chỉnh thành #fff trước, sau đó  kéo thanh 2(opcacity) xuống*/
  border-radius: 15px;
  position: absolute;
  /*so sánh box cha(.inner_box)*/
  top: 10px;
  left: 10px;
}
.work-process__box img {
  height: 32px;
  width: auto;
  margin-bottom: 20px;
  position: relative;
  /*để ảnh,title,desc nằm lên trên, khi có phần tử giả*/
}
.work-process__title {
  font-size: 18px;
  color: #1e1e1e;
  position: relative;
}
.work-process___desc {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  position: relative;
  /*để ảnh,title,desc nằm lên trên, khi có phần tử giả*/
}

/* End Section 4 */
/* Section 5 */
.testimonial {
  padding: 80px 0;
}
.testimonial__box {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.testimonial__icon {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial__icon img {
  height: 32px;
  width: auto;
}
.testimonial__desc {
  color: #777;
  margin-bottom: 30px;
}
.testimonial__infor {
  display: flex;
  align-items: center;
}
.testimonial__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  /*ảnh trong khung dù tràn bị che đi->che thành hình tròn, kg che thì vuông do tràn*/
  margin-right: 15px;
}
.testimonial__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*ảnh vừa box .inner_avatar*/
}
.testimonial__text {
  flex: 1;
  /*chiếm phần còn lại vì trong inner_infor có 2 thành phần: text và avatar*/
}
.testimonial__name {
  font-size: 18px;
  color: #1e1e1e;
}
.testimonial__position {
  font-size: 14px;
  color: #ff589e;
}

/* End Section 5 */
/* Section 6 */
.pricing-plans {
  background-color: #F2F2FE;
  padding: 80px 0;
}
.pricing-plans__box {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.pricing-plans__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.pricing-plans__price {
  background-color: #8261ee;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 30px;
  color: #fff;
}
.pricing-plans__price div:nth-child(1) {
  /*trong inner_price có 2 tag div chọn tag div đâu tiên*/
  font-size: 28px;
  font-weight: 500;
}
.pricing-plans--highlight .pricing-plans__price {
  background-color: #ff589e;
}
.pricing-plans__list {
  list-style: none;
  padding: 0;
  margin: 0 0 30px 0;
}

/* End Section 6 */
/* Section 7 */
.box-counter {
  background-image: url(../img/fun-facts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.box-counter__box {
  margin: 20px 0;
}
.box-counter__content {
  color: #fff;
  text-align: center;
  position: relative;
  /*chèn icon phía sau, có phần tử giả before after gì gì đó*/
}
.box-counter__content::after {
  /*có icon phía sau*/
  content: "";
  display: inline-block;
  width: 60px;
  height: 20px;
  background-image: url(../img/circle-dec.png);
  background-repeat: no-repeat;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 30px);
}
.col-xl-3:last-child .box-counter__content::after {
  /*có box có icon cuối */
  display: none;
}
.box-counter__number {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}
.box-counter__label {
  font-weight: 500;
}
@media (max-width: 991.98px) {
  .box-counter__content::after {
    display: none;
  }
}

/* End Section 7 */
/* Section 9 */
.talk-to-us {
  background-color: #F2F2FE;
  padding: 150px 0;
}
.talk-to-us__title {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
}
.talk-to-us__desc {
  font-size: 14px;
  color: #777;
  margin-top: 30px;
}
.talk-to-us__form .form-group {
  margin-bottom: 30px;
}
.talk-to-us__form input, .talk-to-us__form textarea {
  /*nhóm lại nhiều tag cùng thuộc tính(3 thuộc tính dưới) thì dùng dấu ","*/
  border-radius: 25px;
  min-height: 50px;
  /*hình như này kg ăn css do bên html để rows="5"*/
  border-color: #878686;
}
@media (max-width: 991.98px) {
  .talk-to-us__content {
    margin-bottom: 30px;
  }
}

/* End Section 9 */
/**/

/*# sourceMappingURL=style.css.map */
